.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  
  @media (min-width: 320px) {
    max-width: 480px;
    padding: 0 20px;
    
  }

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 40px;
  }

  @media (min-width: 1344px) {
    max-width: 1344px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: Montserrat, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
label {
  cursor: pointer;
}
