$primary-title-color: #111518;
$secondary-title-color: #ffffff;
$primary-text-color: #b9b9b9;
$additional-text-color: #3d3d3d;
$accent-color: #ff6b09;
$light-bg-color: #e5e5e5;
$garant-bg-color: #f1f1f1;
$vk-networks-color: #436eab;
$program-text-color: rgba(185, 185, 185, .5);
