<section class="about">
  <h2>Преподаватель</h2>
  <div class="about__info">
    <img
      class="about__photo"
      src="./images/about/about-desktop.jpg"
      alt="img-about"
      srcset="./images/about/about-desktop@2x.jpg, ./images/about/about-desktop@3x.jpg"
    />
    <div class="about__text">
      <h3>Елена Морева</h3>
      <ul class="about__experience">
        <li class="about__experience-item">
          <svg width="24px" height="20px">
            <use
              href="./images/about-guarantee.svg#icon-about
                "
            ></use>
          </svg>
          Опыт подготовки учеников к ВНО - 6 лет
        </li>
        <li class="about__experience-item">
          <svg width="24px" height="20px">
            <use
              href="./images/about-guarantee.svg#icon-about
                "
            ></use>
          </svg>
          Собственный результат сдачи ВНО - 197 баллов 2 года подряд
        </li>
        <li class="about__experience-item">
          <svg width="24px" height="20px">
            <use
              href="./images/about-guarantee.svg#icon-about
                "
            ></use>
          </svg>
          Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)
        </li>
      </ul>

      <div class="about__cv">
        <p>
          Высшее образование получила в Институте международных отношений НАУ по специальности
          переводчик-аналитик.
        </p>
        <p>
          В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию
          и методикам написания сочинений.
        </p>
        <p>
          В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style
          (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business
          Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and
          Learning (University of Houston).
        </p>
      </div>
      <p>
        <a href="" class="about__link">Cambrige English Entry Level Certificate</a>
      </p>
    </div>
  </div>
</section>
