<section class="about" id="about">
  <div class="container">
    <h2 class="about__title">Преподаватель</h2>
    <div class="about-container">
    <div class="about-thumb">
    <img class="about__image" src="../images/images-desktop/about-desktop.jpg" alt="teachers-photo"
      srcset="../images/images-desktop/about-desktop@2x.jpg" />
      </div>
    <div class="about-wrapper">
      <h3 class="about__subtitle">Елена Морева</h3>
      <ul class="about-list">
        <li class="about-list__item">
          <p class="about-list__text">Опыт подготовки учеников к ВНО - 6 лет</p>
        </li>
        <li class="about-list__item">
          <p class="about-list__text">Собственный результат сдачи ВНО - 197 баллов 2 года подряд</p>
        </li>
        <li class="about-list__item about-list__item--after">
          <p class="about-list__text">
            Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English
            Test)
          </p>
        </li>
      </ul>

      <div class="about__cv">
        <p class="about__cv-text">
          Высшее образование получила в Институте международных отношений НАУ по специальности
          переводчик-аналитик.
        </p>
        <p class="about__cv-text">
          В свободное время проходит курсы от лучших университетов мира по эффективному
          преподаванию и методикам <br />
          написания сочинений.
        </p>
        <p class="about__cv-text">
          В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style
          (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business
          Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching
          and Learning (University of Houston).
        </p>
        <p class="about__cv-text">
          <a href="" class="about__cv-link">Cambrige English Entry Level Certificate</a>
        </p>
      </div>
    </div>
  </div>
  </div>
</section>