<section class="contacts" id="contacts">
  <div class="contacts-container">
    <div class="box-centered">
    <h2 class="contacts-title">Регистрация на <span class="contacts-title--accent">бесплатную</span> телефонную <span
        class="contacts-title--accent">консультацию</span> по нюансам ЗНО по английскому языку</h2>
    <h3 class="contacts-text">
      Оставь заявку на участие в <span class="contacts-text--accent">бесплатном занятии.</span> </br> С вами свяжется
      консультант и ответит на
      вопросы
    </h3>
    </div>
    <form class="contacts-form">
<input type="text" pattern="^[А-Яа-яЁё\s]+$" class="contacts-form__input" name="text"
          id="" placeholder="Имя*" />
<input type="tel" pattern="-?(\d+|\d+.\d+|.\d+)([eE][-+]?\d+)?" class="contacts-form__input" name="tel"
          placeholder="Телефон*" />
      <button type="submit" class="btn btn--differences">хочу на бесплатное занятие</button>
    </form>
  </div>
</section>
