<header>

  <div class="container header-container">
    <a class="header__logo" href="#">
      <svg width="80px" height="28px">
        <use href="../images/icons.svg#icon-logo-black"></use>
      </svg>
    </a>

    <nav>
      <ul class="header-nav">
        <li class="header-nav_item"><a class="header-nav_link scrollto" href="#program">Программы обучения</a></li>
        <li class="header-nav_item"><a class="header-nav_link scrollto" href="#">О нас</a></li>
        <li class="header-nav_item"><a class="header-nav_link scrollto" href="#">Варианты обучения</a></li>
        <li class="header-nav_item"><a class="header-nav_link scrollto" href="#contacts">Контакты</a></li>
      </ul>
    </nav>

    <button class="header-btn btn">Консультация по телефону</button>

    <button class="mobile-menu__btn--open">
      <svg width="36px" height="32px">
      <use href="../images/icons.svg#icon-mob-menu-open"></use>
      </svg>
    </button>
  </div>

</header>
