<header>

  <div class="container header-container">
    <a class="header__logo" href="#">
      <svg width="80px" height="28px">
        <use href="../images/icons.svg#icon-logo-black"></use>
      </svg>
    </a>

    <nav>
      <ul class="header-nav">
        <li class="header-nav_item"><a class="header-nav_link" href="#program"></a>Программы обучения</li>
        <li class="header-nav_item"><a class="header-nav_link" href="#"></a>О нас</li>
        <li class="header-nav_item"><a class="header-nav_link" href="#"></a>Варианты обучения</li>
        <li class="header-nav_item"><a class="header-nav_link" href="#contacts"></a>Контакты</li>
      </ul>
    </nav>

    <button class="header-btn btn">Консультация по телефону</button>

    <button class="mobile-menu__btn--open">
      <svg width="36px" height="32px">
      <use href="../images/icons.svg#icon-mob-menu-open"></use>
      </svg>
    </button>
  </div>

</header>
