<header class="header" id="top">

  <div class="container header-container">
    <a class="header__logo header__logo--black" href="#">
      <svg width="80px" height="28px">
        <use href="../images/icons.svg#icon-logo-black"></use>
      </svg>
    </a>

    <a class="header__logo header__logo--orange" href="#">
      <svg width="128px" height="45px">
        <use href="../images/icons.svg#icon-logo-orange"></use>
      </svg>
    </a>

    <nav>
      <ul class="header-nav">
        <li class="header-nav_item"><a class="header-nav_link scrollto" href="#program">Программы обучения</a></li>
        <li class="header-nav_item"><a class="header-nav_link scrollto" href="#about">О нас</a></li>
        <li class="header-nav_item"><a class="header-nav_link scrollto" href="#benefits">Варианты обучения</a></li>
        <li class="header-nav_item"><a class="header-nav_link scrollto" href="#contacts">Контакты</a></li>
      </ul>
    </nav>

    <button  data-modal-open class="header-btn btn">Консультация по телефону</button>
    
    <button class="mobile-menu__btn--open  js-open-menu" 
    aria-expanded="false"
    aria-controls="mobile-menu">
      <svg width="37px" height="33px">
      <use href="../images/icons.svg#icon-mob-menu-open"></use>
      </svg>
    </button>
  </div>

</header>
