<section class="hero">

  <div class="container hero-container">
    <div  class="hero-content">
      <h1 class="hero__title">Комплексная подготовка к ВНО по английскому языку</h1>

      <p class="hero__text">
        <span class="hero__text--grey">Просто не будет.<br></span>
        Но ты гарантировано наберешь
        <span class="hero__text--orange">+25 баллов</span>
      </p>
    

      <a class="btn hero__btn scrollto" href="#contacts">Хочу на бесплатное занятие</a>
    </div>
  
    
    <div class="hero-thumb">
    
      <img class="hero__img" src="../images/images-mobile/hero-mobile.png" 
      srcset="../images/images-mobile/hero-mobile.png 1x, ../images/images-mobile/hero-mobile@2x.png 2x"
      alt=" Наше занятие">

    </div>
  </div>
</section>