<div class="mobile-menu">

    <a class="mobile__logo" href="../index.html">
      <svg width="80px" height="28px">
        <use href="../images/icons.svg#icon-logo-white"></use>
      </svg>
    </a>
  
    <button class="mobile-menu__btn--close">
      <svg width="36px" height="32px">
      <use href="../images/icons.svg#icon-mob-menu-close"></use>
      </svg>
    </button>
    
    <ul class="mobile-nav">
      <li class="mobile-nav_item"><a class="mobile-nav_link" href="#program"></a>Программы обучения</li>
      <li class="mobile-nav_item"><a class="mobile-nav_link" href="#"></a>О нас</li>
      <li class="mobile-nav_item"><a class="mobile-nav_link" href="#"></a>Варианты обучения</li>
      <li class="mobile-nav_item"><a class="mobile-nav_link" href="#contacts"></a>Контакты</li>
    </ul>
  
    <button class="mobile-btn btn">Консультация по телефону</button>
  
</div>

