<div data-modal class="backdrop is-hidden" >

  <div class="modal">

    <div class="modal-head">
      <a class="modal__logo" href="#">
        <svg width="100px" height="40px">
          <use href="../images/icons.svg#icon-logo-black"></use>
        </svg>
      </a>
  
      <button data-modal-close  class="modal__btn--close">
        <svg width="30px" height="30px"> 
          <use href="../images/icons.svg#icon-mob-menu-close"></use>
        </svg>
      </button>
    </div>

    <form class="modal-form">
       <p class="modal__title">Заказать звонок!</p>
          
      <label class="modal__label" for="name">Имя</label>
      <input class="modal__input" type="text" name="name" id="name"> 
            
      <label class="modal__label" for="tel">Телефон</label>
      <input class="modal__input" type="tel"  name="tel" id="tel">
             
      <p class="modal__text">Мы свяжемся с Вами в ближайшее время</p>
          <button class="btn modal-btn" type="submit" data-modal-close-auth>Перезвоните мне</button>
      </form>
  </div>
</div>