<section class="problems">
  <div class="container problems__container">
      
      <h2 class="problems__tittle">Главные проблемы учеников <br>
          на English ВНО, которые <br>
          мы <span class="problems__tittle-orange">помогаем</span> решить
      </h2>
      <ol class="problems-list">
          <li class="problems-list__item"><span class="problems-orange-line"></span>
              <p class="problems-list__text">Название грамматики</p>
          </li>
          <li class="problems-list__item"><span class="problems-orange-line"></span>
              <p class="problems-list__text">Неумение воспринимать устную английскую речь</p>
          </li>
          <li class="problems-list__item"><span class="problems-orange-line"></span>
              <p class="problems-list__text">Скупой словарный запас для написания сочинения</p>
          </li>
          <li class="problems-list__item"><span class="problems-orange-line"></span>
              <p class="problems-list__text">Подготовка в одиночку</p>
          </li>
          <li class="problems-list__item"><span class="problems-orange-line"></span>
              <p class="problems-list__text">Отсутствие единого ресурса знаний</p>
          </li>
          <li class="problems-list__item"><span class="problems-orange-line"></span>
              <p class="problems-list__text">Недостаток самоорганизации и лень</p>
          </li>
      </ol>
  </div>
</section>