<section class="reviews">
    <div class="container container__reviews">
        <h2 class="reviews-heading">Отзывы выпускников</h2>
        <article class="reviews-card">
            <div class="reviews-card__container">
            <div class="reviews-card__box">
            <img class="reviews-card__img" src="../images/reviews/Ellipse9.png" 
            srcset="/images/reviews/Ellipse8-desktop.png 1x, /images/reviews/Ellipse8-desktop@2x.png 2x"
                 width="90" height="90" alt="Тоня Кучеровская" />
                 <a href="#" class="reviews-card__linkSvg">
            <svg class="reviews-card__svg" width="30" height="30">
                <use href="/images/icons.svg#icon-vk-icon"></use>
            </svg>
            </a>
            </div>
            <div class="reviews-card__bx">
            <h3 class="reviews-card__title">Тоня Кучеровская</h3>
            <p class="reviews-card__text">
                Выпуск 2015-го года, Національний університет біоресурсів
                і природокористування України
            </p>
            <p class="reviews-card__mainText">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас.
                З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="#" class="reviews-card__link">Читать дальше</a>
            </p>
            </div>
            </div>
        </article>
        <ul class="reviews-slider">
            <li class="reviews-slider__item">
                <img class="reviews-slider__img" srcset="/images/reviews/Ellipse9.png 1x, /images/reviews/Ellipse9@2x.png 2x" src="/images/reviews/Ellipse9.png" width="54" height="54" alt="Выпускник_1" />
            </li>
            <li class="reviews-slider__item">
                <img class="reviews-slider__img" srcset="/images/reviews/Ellipse10.png 1x, /images/reviews/Ellipse10@2x.png 2x" src="/images/reviews/Ellipse10.png" width="54" height="54" alt="Выпускник_2" />
            </li>
            <li class="reviews-slider__item">
                <img class="reviews-slider__img" srcset="/images/reviews/Ellipse11.png 1x, /images/reviews/Ellipse11@2x.png 2x" src="/images/reviews/Ellipse11.png" width="54" height="54" alt="Выпускник_3" />
            </li>
            <li class="reviews-slider__item reviews-slider__item--hidden">
                <img class="reviews-slider__img" srcset="/images/reviews/Ellipse12.png 1x, images/reviews/Ellipse12@2x.png 2x" src="images/reviews/Ellipse12.png" width="54" height="54" alt="Выпускник_4" />
            </li>
            <li class="reviews-slider__item reviews-slider__item--hidden">
                <img class="reviews-slider__img" srcset="/images/reviews/Ellipse13.png 1x, /images/reviews/Ellipse13@2x.png 2x" src="/images/reviews/Ellipse12.png" width="54" height="54" alt="Выпускник_5" />
            </li>
            <li class="reviews-slider__item reviews-slider__item--hidden">
                <img class="reviews-slider__img" srcset="../images/reviews/Ellipse14-mobile.png 1x, ../images/reviews/Ellipse14@2x-mobile.png 2x" src="../images/reviews//Ellipse14-mobile.png" width="54" height="54" alt="Выпускник_6" />
            </li>
            <li class="reviews-slider__item reviews-slider__item--hidden">
                <img class="reviews-slider__img" srcset="/images/reviews/Ellipse13.png 1x, /images/reviews/Ellipse13.png 2x" src="/images/reviews/Ellipse13.png" width="54" height="54" alt="Выпускник_7" />
            </li>
        </ul>
    </div>
</section>