.advantages__container {
    margin-left: auto;
    margin-right: auto;
    padding: 30px 52px 50px;
    max-width: 480px;
  
    @include for-tablet-up {
      padding-top: 50px;
      padding-bottom: 50px;
  
      width: 768px;
    }
  
    @include for-desktop-up {
      padding-top: 100px;
      padding-bottom: 130px;
      max-width: 1344px;
      width: 100%;
      height: 328px;
    }
  }
  
  .advantages__list {
    display: flex;
    
    align-items: center;
    
    @include for-phone-only {
      flex-wrap: wrap;
      height: 240px;
    }
    
    @include for-tablet-up {
      flex-direction: row;
    }
  
    @include for-desktop-up {
      width: 1344px;
    }
  }
  
  .advantages__item {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
  
    @include for-tablet-up {
      flex-basis: calc((100% - 42px) / 3);
    }
  
    @include for-desktop-up {
      height: 102px;
    }
  }
  
  .advantages__item:not(:last-child) {
    @include for-phone-only {
        margin-bottom: 30px;
    }
    @include for-tablet-up {
        justify-content: space-between;
        margin-right: 21px;
    }
  }
  
  .advantages__text {
    padding-left: 69px;
  
    @include font-silo (bold, 14px, 1.4, 0.08em, $primary-title-color);
  
    @include for-desktop-up {
      padding-left: 83px;
      font-size: 20px;
  
    }
  }
  
  .advantages__item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 59px;
    height: 60px;
    margin-right: 10px;
    background-image: url(../../images/adventages-man-mob.svg);
    background-size: 59px 60px;
    background-repeat: no-repeat;
  
    @include  for-desktop-up {
      width: 100px;
      height: 102px;
      background-size: 100px 102px;
    }
  }
  
  .advantages__item::before {
    content: '';
    display: block;
    width: 59px;
    height: 60px;
    margin-right: 10px;
    background-image: url(../../images/adventages-mobile-mob.svg);
    background-size: 59px 60px;
    background-repeat: no-repeat;
  
    @include  for-desktop-up {
      width: 100px;
      height: 102px;
      background-size: 100px 102px;
    }
  }
  
  .advantages__item::before {
    content: '';
    display: block;
    width: 59px;
    height: 60px;
    margin-right: 10px;
    background-image: url(../../images/adventages-umbrela-mob.svg);
    background-size: 59px 60px;
    background-repeat: no-repeat;
  
    @include  for-desktop-up {
      width: 100px;
      height: 102px;
      background-size: 100px 102px;
    }
  }