.benefits {
  background-image: linear-gradient(to top, $secondary-title-color 62%,  $primary-title-color 38%);
  

  @include for-desktop-up {
    background-image: none;
  }
}

.container--benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @include for-phone-only {
    max-width: 480px;
  }

  @include for-desktop-up {
    position: relative;
    height: 329px;
    padding-bottom: 130px;
  }
}

.benefits-title-wrapper {
  width: 180px;
  margin-top: 50px;

  @include for-tablet-up {
    width: 100%;
    margin-top: 189px;
  }
}

.benefits__title {
  @include font-silo (800, 20px, 1.3, 0.03em, $secondary-title-color);

  text-align: left;

  @include for-tablet-up {
    font-size: 26px;

    text-align: center;
  }

  @include for-desktop-up {
    position: absolute; 
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0; 
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
    overflow: hidden;
  }

  &--hidden {
    position: absolute; 
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0; 
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
    overflow: hidden;
  }
}

.benefits__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  padding-left: 30px;
  
  box-shadow: -5px 8px 26px $shadow-color;

  list-style-type: none;
  counter-reset: my-count;

  background-color: $secondary-title-color;

  @include for-tablet-up {
    flex-direction: row;
    padding-top: 0;
    padding-left: 68px;
    padding-bottom: 25px;
  }

  @include for-desktop-up {
    position: absolute;
    top: -199px;
    left: 0;
    padding-left: 44px;
    padding-bottom: 70px;
    padding-top: 38px;
    min-width: 100%;
  }
}

.benefits__item {
  position: relative;
  padding-left: 30px;

  &:not(:first-child) {
  margin-top: 20px;

    @include for-tablet-up {
      margin-top: 30px;
    }

    @include for-desktop-up {
      margin-top: 32px;
    }
  }

  @include font-silo (700, 14px, 1.43, 0.08em, $primary-title-color);


  @include for-tablet-up {
      width: 236px;
      margin-top: 30px;
      margin-left: 20px; 
      }

  @include for-desktop-up {
  margin-top: 32px;
  margin-left: 40px; 
  width: 356px;

  font-size: 20px;
  }
}

.benefits__item:last-child {
  padding-bottom: 20px;

  @include for-tablet-up {
    padding-bottom: 0;
  }
}

.benefits__item::before {
  color: $accent-color;
  content: '0' counter(my-count) ' '; /* Добавляем к числам пробел и "0"*/
  counter-increment: my-count; /* Задаём имя счетчика */
}

.benefits__dash {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 14px;
  height: 1px;

  background-color: $accent-color;

  @include for-desktop-up {
    top: 13px;
  }
}

.benefits__text {
  padding-top: 10px;

  text-align: left;

  transform: translateX(-20px);
}

.section-test {
  height: 440px;
}