.btn {
  padding: 14px 7px;
  min-width: 260px;
  height: 48px;

  @include font-silo(700, 12px, 1.21, 0.08em, $secondary-title-color);
  text-transform: uppercase;
  background-color: transparent;
  border-color: $accent-color;

 

  @include for-desktop-up {
    padding: 26px 25px;
    min-width: 354px;
    height: 70px;

    font-size: 14px;
    letter-spacing: 0.14em;

    @include transition2(color, backgound-color);
  }

  &:hover, &:focus {
    color: $bg-black-color;
    background-color: $accent-color;
    border: 2px $bg-black-color solid;
    border-radius: 4px;
  }
}
