.container--center {
  margin: 0 auto;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;

  @include for-tablet-up {
    flex-direction: initial;
    justify-content: space-between;
    padding: 40px 0px;
  }

  @include for-desktop-up {
    justify-content: flex-start;
    padding: 52px 0px;
  }
}

.footer-list__item:first-child {
  margin-bottom: 20px;

  @include for-tablet-up {
    margin-bottom: 0px;
  }
}

.footer-list__item:last-child {
  @include for-tablet-up {
    display: flex;
  }

  @include for-desktop-up {
    margin-left: 290px;
  }
}

.footer-list__link--after::after {
  @include for-tablet-up {
    content: '';
    width: 0px;
    height: 40px;
    border: 1px solid $primary-text-color;
    margin: 0px 25px;
  }
}

.footer-list__link:not(:last-of-type) {
  margin-bottom: 29px;

  @include for-tablet-up {
    margin-bottom: 0px;
  }
}

.footer-list__link {
  @include font-silo(600, 14px, 1.21, 0.08em, $primary-title-color);
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-tablet-up {
    @include font-silo(600, 20px, 1.2, 0.08em, $primary-title-color);
  }

  @include for-desktop-up {
    @include font-silo(600, 30px, 1.23, 0.08em, $primary-title-color);
  }
}

.footer-list__logo {
  @include for-tablet-up {
    width: 128px;
    height: 45px;
  }
}

.footer-list__icon {
  margin-right: 10px;
}

.sub-footer {
  background-color: $bg-black-color;
  padding: 21px 0px;
}

.sub-footer__text {
  @include font-silo(500, 14px, 2, 0.08em, $primary-text-color);
  text-align: center;

  @include for-tablet-up {
    text-align: start;
  }
}
