.header {
  position: absolute;
  z-index: 10;
  transform: translateY(35px);
  width: 100%;

  @include for-tablet-up {
    transform: translateY(42px);
  }

  @include for-desktop-up {
    transform: translateY(42px);
  }
}

.header-container {
  display: flex;

  align-items: center;

  @include for-desktop-up {
    justify-content: space-between;
  }
}

.header-nav {
  display: none;
  @include for-desktop-up {
    display: flex;
  }
}

.header-nav_item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.header-nav_link {
  display: block;

  padding-top: 25px;
  padding-bottom: 25px;

  @include font-silo(700, 14px, 1.21, 0.02em, $primary-text-color);

  text-transform: uppercase;

  @include transition2(color, transform);

  &:hover,
  &:focus {
    color: $accent-color;

    transform: scale(1.1);
  }
}

.header-btn {
  display: none;

  @include for-tablet-up {
    @include centeredFlex;
    margin-left: auto;
    border: 1px solid $accent-color;
    color: $accent-color;
    background-color: transparent;

    transition: 250ms all ease-out;

    &:hover,
    &:focus {
      border: none;
      color: #fff;
      background-color: $accent-color;
    }
  }
}

.header__logo {
  &--black {
    @include for-tablet-up {
      display: none;
    }
  }

  &--orange {
    display: none;

    @include for-tablet-up {
      display: flex;
    }
  }

  @include for-desktop-up {
    margin-right: 144px;
  }
}
