.header-container {
  display: flex;
  position: absolute;
  z-index: 10;
  transform: translateY(30px);
  width: 100%;
}

.header-nav {
  display: none;
}

.header-btn {
  display: none;
}

.mobile-menu__btn--open {
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

