.howwedo {
  padding: 50px 0px;

  @include for-desktop-up {

    padding: 130px 0px;

    padding-top: 280px;

  }
}

.howwedo__container {
  margin: 0px auto;
}

.howwedo__tittle {
  @include font-silo(800, 20px, 130%, 0.03em, $primary-title-color);
  text-align: center;
  margin-bottom: 30px;

  @include for-tablet-up {
    @include font-silo(800, 26px, 130%, 0.03em, $primary-title-color);
  }

  @include for-desktop-up {
    @include font-silo(800, 46px, 130%, 0.03em, $primary-title-color);
    text-align: start;
  }
}

.howwedo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include for-tablet-up {
    margin-top: -27px;
    margin-left: -20px;
  }

  @include for-desktop-up {
    margin-top: -20px;
    margin-left: -20px;
  }
}

.howwedo-list__item {
  max-width: 280px;
  text-align: center;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  padding: 30px 18px 26px 18px;
  @include transition(background-color);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include for-tablet-up {
    max-width: 334px;
    margin-top: 27px;
    margin-left: 20px;
    flex-basis: calc((100% / 2 - 27px));
  }

  @include for-desktop-up {
    max-width: 425px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: calc((100% / 3 - 20px));
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.howwedo-list__icon {
  fill: $accent-color;
  margin-bottom: 20px;

  .howwedo-list__item:hover &,
  .howwedo-list__item:focus & {
    fill: $secondary-title-color;
  }
}

.howwedo-list__tittle {
  @include font-silo(700, 14px, 1.42, 0.08em, $primary-title-color);

  @include for-desktop-up {
    @include font-silo(700, 20px, 1.4, 0.08em, $primary-title-color);
  }

  .howwedo-list__item:hover &,
  .howwedo-list__item:focus & {
    color: $secondary-title-color;
  }
}

.howwedo-list__tittle::after {
  display: flex;
  margin: 16px auto;
  content: '';
  width: 20px;
  height: 2px;
  background-color: $accent-color;

  .howwedo-list__item:hover &,
  .howwedo-list__item:focus & {
    background-color: $secondary-title-color;
  }
}

.howwedo-list__text {
  @include font-silo(500, 12px, 1.66, 0.08em, $primary-text-color);

  @include for-desktop-up {
    @include font-silo(500, 18px, 1.55, 0.08em, $primary-text-color);
  }

  .howwedo-list__item:hover &,
  .howwedo-list__item:focus & {
    color: $secondary-title-color;
  }
}
