.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;

  padding: 35px 20px;

  width: 100vw;
  height: 100vh;
  min-width: 100%;
  background: rgba(17, 21, 24, 0.9);

  transform: translateX(110%);

  @include for-tablet-up {
    padding: 42px 40px;
  }

  @include for-desktop-up {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-head {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.mobile__logo {
  &--white {
    @include for-tablet-up {
      display: none;
    }
  }

  &--orange {
    display: none;

    @include for-tablet-up {
      display: flex;
    }
  }
}

.mobile-menu__btn--close {
  display: flex;
  margin-left: auto;
  padding: 0;

  border: none;
  background-color: transparent;
  fill: $secondary-title-color;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.mobile-nav {
  margin-bottom: 50px;

  @include for-tablet-up {
    margin-left: auto;
    margin-right: auto;
  }
}

.mobile-nav_item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-nav_link {
  @include font-silo(800, 20px, 1.8, 0.03em, $secondary-title-color);

  @include for-tablet-up {
    font-size: 26px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-btn {
  margin-left: auto;
  margin-right: auto;

  color: $accent-color;
  background-color: transparent;
  border-color: $accent-color;

  @include for-tablet-up {
    display: none;
  }
}
