.program {
  background-color: $bg-black-color;
  overflow: hidden;
}

.container--program {
  padding-top: 50px;
  padding-bottom: 133px;
  margin: 0 auto;

  @include for-phone-only {
    background: {
      image: url(../images/images-mobile/program-mobile.png);
      repeat: no-repeat;
      size: 120px 137px;
      position: bottom 33px right 0;
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/images-mobile/program-mobile@2x.png);
    }
  }

  @include for-tablet-up {
    padding-top: 60px;
    padding-bottom: 250px;

    background: {
      image: url(../images/images-tablet/program-tablet.png);
      position: bottom 111px right 0;
      repeat: no-repeat;
      size: 384px 280px;
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/images-tablet/program-tablet@2x.png);
    }
  }

  @include for-desktop-up {
    min-width: 1344px;
    padding: 120px 15px 234px;

    background: {
      image: url(../images/images-desktop/program-desktop.png);
      position: bottom 34px left 0;
      repeat: no-repeat;
      size: 540px 402px;
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/images-desktop/program-desktop@2x.png);
    }
  }

  @include for-1680-up {
    min-width: 1680px;
    padding-left: 183px;
    padding-right: 183px;
    padding-bottom: 363px;
    background: {
      repeat: no-repeat;
      size: 674px 502px;
      position: bottom 60px left 0;
    }
  }
}

.program__title {
  margin-bottom: 43px;

  @include font-silo(800, 20px, 1.3, 0.03em, $secondary-title-color);
  text-align: center;

  @include for-tablet-up {
    font-size: 26px;
    text-align: left;
  }

  @include for-desktop-up {
    margin-bottom: 100px;

    font-size: 46px;
  }
}

.program__schedule {
  position: relative;
  padding-left: 25px;
  margin: 0 auto;

  list-style-type: none;
  counter-reset: my-counter;

  @include for-phone-only {
    max-width: 200px;
  }

  @include for-tablet-up {
    padding-left: 56px;
    margin-left: 63px;
  }

  @include for-desktop-up {
    display: flex;
    padding-left: 0;
    margin-left: 0;
    padding-top: 60px;
  }
}

.program__interval {
  @include font-silo(700, 14px, 2, 0.08em, $secondary-title-color);
  text-transform: uppercase;

  & + & {
    margin-top: 40px;
  }

  @include for-tablet-up {
    & + & {
      margin-top: 30px;
    }
  }

  @include for-desktop-up {
    width: 240px;

    @include font-silo(null, 20px, 1.4, null, null);

    & + & {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.program__interval::before {
  content: counter(my-counter) ' ';
  counter-increment: my-counter;
}

.program__wrapper {
  @include for-tablet-up {
    display: flex;
  }

  @include for-desktop-up {
    flex-direction: column;
  }
}

.partition-list {
  & + & {
    margin-top: 8px;
  }

  @include for-tablet-up {
    & + & {
      margin-left: 50px;
    }
  }

  @include for-desktop-up {
    &:first-child {
      width: 240px;
    }

    & + & {
      width: 240px;
      margin-left: 0;
      margin-top: 0;
      padding-top: 25px;
    }
  }
}

.partition-list--left {
  @include for-tablet-up {
    width: 176px;
  }
}

.partition-list--center {
  @include for-tablet-up {
    width: 155px;
  }
}

.partition-list--right {
  @include for-tablet-up {
    width: 110px;
  }
}

.partition-list:first-child {
  position: relative;
  padding-top: 5px;

  @include for-desktop-up {
    padding-top: 25px;
  }
}

.partition-list:first-child::before {
  position: absolute;
  display: block;
  top: -20px;
  left: -31px;
  content: '';
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: $accent-color;

  @include for-tablet-up {
    left: -61px;
  }

  @include for-desktop-up {
    width: 16px;
    height: 16px;
    left: 0;
    top: -96px;
  }
}

.partition-list--left {
  @include for-tablet-up {
    width: 176px;
  }
}

.partition-list--center {
  @include for-tablet-up {
    width: 155px;
  }
}

.partition-list--right {
  @include for-tablet-up {
    width: 110px;
  }
}

.partition-list__item {
  @include font-silo(700, 12px, 1.649, 0.08em, $accent-color);

  text-transform: none;

  @include for-desktop-up {
    font-size: 20px;
  }
}

.partition-list__item::before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 10px;
  margin-right: 6px;

  border-bottom: 1px solid $accent-color;

  transform: translateY(-3px);

  @include for-desktop-up {
    width: 20px;
    margin-right: 9px;
    transform: translateY(-5px);
  }
}

.program-list {
  padding-top: 5px;

  @include for-desktop-up {
    padding-top: 10px;
  }
}

.program-list__item {
  @include font-silo(500, 12px, 1.667, 0.08em, $program-text-color);

  @include for-desktop-up {
    @include font-silo(null, 18px, 1.56, null, null);

    &:first-child {
      width: 100%;
    }
  }
}

.decor-elem {
  position: absolute;
  top: 10px;
  left: 0;
  width: 1px;
  height: 92%;
  border-left: 1px solid $secondary-title-color;

  @include for-tablet-up {
    height: 88%;
  }

  @include for-desktop-up {
    top: 0;
    left: -1600px;
    height: 1px;
    width: 4600px;
    border-top: 1px solid $secondary-title-color;
  }
}
